*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.card{
    cursor: move;
}

#carrito{
    cursor: default;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}